.container{
    width: 250px;
    height: 30px;
    padding-left: 30px;
    /* background-color: rgb(108, 96, 96); */
}

#result{
    height: 30px;
    color: blue;
    font-size: 30px;

}

#weight-guide{
/* width: 20px; */
padding-left: 20px;
/* width: 10px; */
text-align: start;

}

button{

    margin-left: 90px;
}