html {
  margin: 0;
}

h1{
  background-color: aqua;
  text-align: center;
  border: 2px solid ;
  width: 200px;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#red {
  background: rgb(190, 19, 19);
}

#pink {
  background: rgb(219, 123, 139);
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}


